::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff3b61;
}

@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@-webkit-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

html, body, #page {
	width: 100%;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#page {
	opacity: 0;
	min-height: 100%;
}

#page.fadeIn {
	animation: fadeIn 0.4s 3s ease-out forwards;
	-webkit-animation: fadeIn 0.4s 3s ease-out forwards;
}

body {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-size: 14px;
	font-weight: 300;
	word-spacing: 2px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #333;
	color: #f0f0f0;
	cursor: default;
}

@media (min-width: 768px) {
	body {
		background: #333 url(../img/bg.jpg) fixed center bottom no-repeat;
		background-size: cover;
	}
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	color: #fff;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

p {
	margin: 0;
}

a, a:link, a:focus {
	text-decoration: none;
	color: #ff3b61;
	transition: color 0.1s;
	-webkit-transition: color 0.1s;
	-moz-transition: color 0.1s;
	-o-transition: color 0.1s;
}

a:hover {
	text-decoration: none;
	color: #db173d;
	transition: color 0s;
	-webkit-transition: color 0s;
	-moz-transition: color 0s;
	-o-transition: color 0s;
}

/* ----------------------------------------------------- */

.relative {
	position: relative;
}

.wrapper {
	position: relative;
	display: inline-block;
}

.hidden {
	display: none;
}

.flip-fix {
	margin-top: 20px !important;
}

.fake-link {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

/* ----------------------------------------------------- */

#logo {
	display: inline-block;
	height: 30px;
	margin-top: 20px;
	background: url(../img/logo-watermark.png) center -30px no-repeat;
	background-size: auto 60px;
	text-indent: -9999px;
	z-index: 101;
	/*transition: background 0.1s;*/
}

#logo:hover {
	/*background-position: center 0;*/
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

/* ----------------------------------------------------- */

.land {
	padding-bottom: 20px;
}

#banner {
	display: inline-block;
	width: 100%;
	min-height: 100%;
	padding: 40px 0 60px;
}

#banner .highlight {
	color: #ff3b61;
	text-shadow: none;
}

#banner .subtitle .highlight {
	text-shadow: #ff3b61 0px 0px 2px;
}

#banner .title,
#banner .subtitle {
	display: inline-block;
	width: 100%;
	clear: both;
	text-align: center;
	text-shadow: #fff 0px 0px 2px;
	color: #fff;
}

#banner .title {
	line-height: 34px;
	margin: 10px auto 20px;
	font-size: 32px;
	font-weight: bold;
}

@media (max-width: 768px) {
	#banner .title {	
		font-size: 20px;
		line-height: 24px;
	}
}

#banner .subtitle,
.share-flip h2 {
	margin: 20px auto;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.share-flip h2 {
	text-align: left;
}

.share-flip h3 {
	font-size: 14px;
	font-weight: 300;
}

#banner .carousel-caption,
#banner .carousel-caption h3,
#banner .carousel-control:hover, 
#banner .carousel-control:focus {
	color: #ff3b61;
}

#banner .carousel-indicators li {
	position: relative;
	background-color: #fff;
	border-color: #fff;
}

#banner .carousel-indicators .active {
	background-color: #ff3b61;
	border-color: #ff3b61;
}

#banner .carousel-indicators .glyphicon {
	width: 10px;
	margin-right: 12px;
	font-size: 18px;
	text-indent: 0;
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}

#banner .carousel-indicators .glyphicon.active {
	color: #ff3b61;
}

#banner .carousel-indicators .glyphicon span {
	position: absolute;
	top: -7px;
	left: 0;
}

@media (max-width: 768px) {
	#banner .carousel-indicators {
		position: fixed;
		z-index: 901;
	}
}


#banner .carousel-inner .item img {
	margin-top: 10px;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	#banner .carousel-inner .item img {
		float: none;
	}
}

#banner .carousel-control {

}

@media (max-width: 768px) {
	#banner .carousel-control {
		position: fixed;
		top: auto; bottom: 0;
		width: 50%; height: 50px;
		margin: 0;
		opacity: 1;
		background: #222;
		z-index: 900;
	}
}


@media (min-width: 768px) {
	#banner .carousel-control .icon-prev,
	#banner .carousel-control .icon-next {
		font-size: 60px;
	}
}

#banner .message {
	position: absolute;
	margin-top: 20px;
	z-index: 100;
}

#banner .input-field {
	display: inline-block;
	width: 100%;
	border: 2px solid #db173d;
	box-shadow: 1px 3px #db173d;
	opacity: 1;
	transition: opacity 0.5s, transform 1s;
	-webkit-transition: opacity 0.5s, -webkit-transform 1s;
	-moz-transition: opacity 0.5s, -moz-transform 1s;
	-o-transition: opacity 0.5s, -o-transform 1s;
}

#banner .input-field:hover {
	border-color: #B91232;
	box-shadow: 1px 3px #B91232;
}

#banner #landing-area {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#landing-area .toggle-btn,
.share-flip .toggle-btn {
	position: absolute;
	top: -20px;
	left: 49%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	color: #fff;
	cursor: pointer;
}

@media (min-width: 768px) {
	#landing-area .toggle-btn,
	.share-flip .toggle-btn {
		left: auto;
		right: -20px;
	}
}

.share-flip .counter {
	color: #ff3b61;
}

.share-flip .share-button {
	display: inline-block;
	margin-top: 2em;
	height: 50px;
	padding: 5px 5px 5px 55px;
	background: #3b559f url(../img/icon/facebook-transp.png) left center no-repeat;
	background-size: auto 50px;
	border-radius: 4px;
	color: #fff;
}

.share-flip .share-button:hover {
	background-color: #374f8a;
}

.share-flip .share-button .invite-text {
	display: block;
	color: #fff;
}

.share-flip .share-button .invite-link {
	display: block;
	font-size: 12px;
	color: #ccc;
	cursor: text;
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}

#banner #subscribe-form {
	position: relative;
	text-align: center;
	padding-bottom: 20px;
	-o-transition: width .3s ease-in-out;
	-ms-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

#banner .subbtn-text {
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 5px;
	text-align: center;
	color: #ccc;
}

#banner .subbtn-text .highlight {
	font-weight: bold;
	color: inherit;
}

#banner #subscribe-form.success .input-field {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	z-index: 101;
}

body:not(.registred) #banner .land.prev .input-field,
body:not(.registred) #banner .land.next .input-field {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	z-index: 101;
}


#banner .fb-like {
	-o-transition: opacity 1s 0.5s ease-in-out;
	-ms-transition: opacity 1s 0.5s ease-in-out;
	-moz-transition: opacity 1s 0.5s ease-in-out;
	-webkit-transition: opacity 1s 0.5s ease-in-out;
	transition: opacity 1s 0.5s ease-in-out;
}

body.registred #banner .land.prev .fb-like,
body.registred #banner .land.next .fb-like {
	opacity: 0;
}

#banner .arrow-like {
	display: none;
}

body.registred #banner .arrow-like {
	position: absolute;
	left: 35%;
	bottom: 11px;
	display: inline-block;
	width: 150px;
	height: 50px;
	background: url(../img/arrow_right.png) right center no-repeat;
	background-size: auto 100%;
	z-index: 999;
}

#banner #subscribe-form.hidden .input-field {
	opacity: 0;
	visibility: hidden;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	transition: opacity 0.2s, transform 0.4s, visibility 0 0.8s;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s, visibility 0 0.8s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s, visibility 0 0.8s;
	-o-transition: opacity 0.2s, -o-transform 0.2s, visibility 0 0.8s;
}

#banner .input-field input {
	float: left;
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 30px;
	font-size: 18px;
	text-indent: 5px;
	border: 0;
	color: #333;
}

#banner .input-field input:focus {
	outline: 0;
	box-shadow: none;
	color: #ff3b61;
}

#banner .input-field .btn {
	float: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: none;
	border: 0;
	border-radius: 0;
	background-color: #ff3b61;
	color: #fff;
}

#banner .input-field .btn:hover {
	background-color: #db173d;
	color: #fff;
}

#banner .btn {
	font-size: inherit;
	cursor: pointer;
	box-shadow: none;
}
